/* general links */
a { text-decoration: none; }
a:link, a:visited { color:#e1eb41; }
a:hover, a:active { color:#fff;}

	/* nav links */
	#nav a:link, #nav a:visited { 
		color: #e1eb41;
	}

	#nav a:hover, #nav a:visited:hover {
		color: #fff;
	}
	
	#nav .current a:link, #nav .current a:link:visited {
		color: #000;
	}

	#nav .current a:hover, #nav .current a:visited:hover {
		color: #666;
	}

img { border: none; }
.imgBorder { border:  1px solid #454444; }

/* form layout settings */
.alert { color: #ff0000; }

form {
  margin: 0;
  padding: 0;
  min-width: 650px;
  max-width: 680px;
  width: 675px;
}

form label {
  display: block;
  float: left;
  width: 75px;
  padding: 0;
  margin: 5px 0 0;
  text-align: right;
  font-size: 1.1em;
}

form textarea { 
  overflow: auto; 
  width: auto;
  margin: 5px 0 0 10px;
  border: 1px solid #323232;
  background: #232320;
  font-family: Verdana, Arial;
  font-size: 1.1em;
  color: #ffffff;
}

form br {
  clear:left;
}

form input, form select {
  width: auto;
  margin: 5px 0 0 10px;
  border: 1px solid #323232;
  background: #232320;
  font-family: Verdana, Arial;
  font-size: 1.1em;
  color: #ffffff;
}

/* BUTTONS */

form button {
    display: block;
    float: left;
    margin: 5px 7px 0 10px;
    background-color: #232320;
    border: 1px solid #323232;
    border-top: 1px solid #434343;
    border-left: 1px solid #434343;
    line-height: 130%;
    text-decoration: none;
    font-family: Verdana, Arial;
    font-size: 1.1em;
    color: #ffffff;
    cursor: pointer;
}

form button {
    width: auto;
    overflow: visible;
    padding: 1px 4px 2px 4px; /* IE6 */
}

form button[type] {
    line-height: 17px; /* Safari */
}

*:first-child+html button[type] {
    padding: 0px 5px 1px 5px; /* IE7 */
}

form button:hover {
    background-color: #101010;
    border: 1px solid #232320;
    color: #ffffff;
}

input:focus, select:focus, textarea:focus {
	background: #101010;
	border: 1px solid #232320;
	color: #ffffff;
}

form .alert {
	color: #ff0000;
	font-weight: bold;
	border: 0;
	background: #363636;
}
.smallimg{
	width:12px;
}

#loading { display: none; }
