body {
  /* base typography settings */
  font-size: 62.5%;  /* 16px — 62.5% = 10px */
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #ddd;
  line-height: 1.5em;
}

h1 { 
	font-size: 2em; /* 10px — 2em = 20px */
}

h2 {
	font-size: 1.6em; /* 10px - 1.6em = 16px */
	font-weight: normal;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #ddd;
	margin: 0;
}

h3 {
	font-size: 1.4em; /* 10px - 1.4em = 14px */
}

p { 
	font-size: 1.1em;
}

		#showBanner {
			text-align: right;
		}

	
			#center .sidebarTitle h3 {
				font-weight: normal;
				color: #e5eb88;
				letter-spacing: 1px;
				text-transform: uppercase;
				text-align: center;
			}	

.bigText {
	font-family:  Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.3em;	 /* 13px */
}

.tinyText {
	font-size: 0.9em;	  /* 9px */
}

p.bigText {
	margin: 5px;
}


#nav {
	font-size: 1.2em;
	font-weight: bold;
	letter-spacing: 1px;
}

#footer {
	font-size: 1.1em;
}
